---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Masterhead from '../../components/Masterhead.astro';
import Body from '../../components/Body.astro';
import Footer from '../../components/Footer.astro';
import Content from '../../components/Content.astro';
import { IoArrowForward, IoLogoInstagram, IoMailOutline } from 'react-icons/io5';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
      <Content>
        <div class="mb-8">
          <img src="/placeholder-hero.jpg" class="border border-slate-300 dark:border-zinc-700 rounded-xl" width={720} height={360} alt="" /> 
        </div>
        <section>
          <p class="mb-4 indent-4">
            Hi, I'm Nakuya. I'm currently studying for Bacholor degree of engineering in Chulalongkorn University. 
            I like coding because it's fun for me. I like to learn new thing because I thing world going very fast if I stand still
            and I will become obsolete so quickly. I have been coding for half a year now (I do it before but not that serious and refence by 2023).
            I can coding in various of language such as Python Javascript C C++. I&apos;m currently learning Java C# PHP and Rust. In web development,
            I can code in various of framework such as ReactJS(including Nextjs) Svelte(including SvelteKit) currently learning to use Angular Vuejs Solidjs.
            Personally, I think coding isn't hard because it's just a logic and different language mean different syntax so I think learning new languages are 
            easy for me. Just give me order. I can do it!!!
          </p>
        </section>
        <section>
          <h1 class="font-bold font-poppins text-xl mb-4">Contacts</h1>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <li class="mb-4">
              <p>Instagram</p>
              <a href="https://www.instagram.com/sticknack/" class="inline-flex items-center gap-1 indent-1 text-blue-500"><IoLogoInstagram />sticknack</a>
            </li>
            <li class="mb-4">
              <p>Email</p>
              <p class="inline-flex items-center gap-1 indent-1 text-blue-500"><IoMailOutline />nack098gamer@gmail.com</p>
            </li>
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
