---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Masterhead from '../components/Masterhead.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
      <Masterhead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
          Hi, Welcome to my blog I&apos;m Nakuya which is from "Nack" reading in Japanese style and
          "Ya". You can call me Nack if you want. I&apos;m an indie developer which
          spending most of my time writing code. I like to learn new thing such as new
          framework(which I spend most of my time) and I like to drink soft drinks.
          Currently, I study for my Bachelor&apos;s degree of Engineering in Chulalongkorn University in Thailand.
          Yes, I'm Thai(LOL). English isn't my first language so sorry about that :). 
          <a href="/about" class="inline-flex items-center gap-1 indent-1 text-blue-500">
              Learn more about me <IoArrowForward className="inline"/>
          </a>
          </p>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
